# app
fastapi==0.55.1
uvicorn==0.11.3
pydantic==1.4
email-validator==1.1.1

# db
motor==2.5.1

# settings
python-dotenv==0.19.2

# test
pytest==6.2.5
pytest-asyncio==0.16.0
httpx==0.16.1
asgi-lifespan==1.0.1

# styling
black==21.11b1

# auth
pyjwt==2.0.1
passlib[bcrypt]==1.7.2
